[user]
    email = jacob.hilker2@gmail.com
    name = Jacob Hilker
[push]
    default = simple
[merge]
    tool = vimdiff
[core]
    editor = vim
    pager = less -r
[difftool]
    prompt = false
[alias]
    beam = checkout
    unstage = reset HEAD --
    quick-stats = ! /usr/local/bin/git-quick-stats
[format]
    pretty = (%h) %Cblue%an%Creset: %Cgreen%s %Creset(%ad)
[diff]
    tool = vimdiff
[log]
    date = short
[color]
    ui = true

