[user]
  email = jacob.hilker2@gmail.com
  name = Jacob Hilker
[push]
  default = simple
[merge]
  tool = vimdiff
[core]
  editor = nvim
  pager = delta
[difftool]
  prompt = false
[alias]
  beam = checkout
  unstage = reset HEAD --
  quick-stats = ! /usr/local/bin/git-quick-stats
[format]
  pretty = %C(italic)(%h)%Creset %C(bold 12)%an%Creset: %C(3)%s %Creset(%ad)
[diff]
  tool = vimdiff
[log]
  date = short
[color]
  ui = true

[delta]
  side-by-side = true
  line-numbers = true
  syntax-theme = base16-gruvbox.dark
  keep-plus-minus-markers = true
