* {
  accent:           #83a598;
  accent-dark:      #076678;
  background:       #32302f;
  background-light: #3c3836;
  foreground:       #ebdbb2;
  on:               #44ad4d;
  off:              #fb4934;
}

